
<ion-view ion-title="gameSettings" id="gameSettings" style="background-color: darkcyan">
  <body>
  <i class="icon ion-ios-arrow-back" id="players_back" ng-click="toSettings()" style="margin-top: 2vh"></i>
  <h1 id = "home_title" style="font-size: 10vh; margin-top: 7vh">Game Settings</h1>
  <br>
  <p style="align-content: center; text-align: center; font-size: 3vh; margin-right: 3vw; color: white">
  Game settings coming soon!
  </p>
  <p style="align-content: center; text-align: center; font-size: 3vh; margin-right: 3vw; color: white">
    If you have any suggestions, let us know!
  </p>
  <i class="button ion-email" id="emailButton" ng-click="sendFeedback()"></i>
  </body>
</ion-view>
