<!DOCTYPE html>
<html ng-app="starter">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<ion-view ion-title="inOrOut" id="inOrOut" style="background-color: darkcyan" transition="">
  <body>
  <h1 id="rideTheBus_title">Ride The Bus!</h1>
  <i class="icon ion-ios-home" style= "position: absolute; font-size: 4vh; color: white;
      margin-left: 2vw; margin-top: 3vh" ng-click="toPopUp()"></i>
  <!-- display the current player information -->
  <h1 id="displayName">Current Player: {{currentPlayer.getName()}}</h1>
  <h1 id="displayTaken">Drinks Taken: {{currentPlayer.getTaken()}}</h1>
  <h1 id="displayGiven">Drinks Given: {{currentPlayer.getGiven()}}</h1>

  <!-- inside or outside buttons -->
  <div>
    <div class="list list-inset" id = "insideOrOutsideOptions">
      <div class="Row">
        <div class="Column button_font" id="inside_button" ng-click="inOrOut('inside')" style=" font-family: Helvetica;
        font-style: italic; font-weight: bold; text-align: center; white-space: nowrap;
        vertical-align: middle; border: 1vw solid black; background-color: white; color: black">INSIDE</div>
        <div class="Column button_font" id="outside_button" ng-click="inOrOut('outside')" style=" font-family: Helvetica;
        font-style: italic; font-weight: bold; text-align: center; white-space: nowrap;
        vertical-align: middle; border: 1vw solid black; background-color: white; color: black">OUTSIDE</div>
      </div>
    </div>
  </div>

  <!-- display the round number and name -->
  <h1 id="correctOrWrong" style="z-index: 1">{{correctOrWrong}}</h1>
  <h1 id="takeOrGive" style="z-index: 1">{{takeOrGive}}</h1>
  <button class="button" id="inOrOutTransButton" ng-click="toNextPlayer()" style="width: 100vw;
    height: 100vh; background: transparent; position:absolute; border: solid transparent; z-index: 2"></button>

  <img src= "{{nextCard.image}}" id = "cardBack2">
  <img src ="{{currentPlayer.getCards()[0].image}}" id = "hand1">
  <img src="{{currentPlayer.getCards()[1].image}}" id="hand2">
  </body>
</ion-view>
</html>
