
<ion-view ion-title="settings" id="settings" style="background-color: darkcyan">
  <!--<body>-->
  <i class="icon ion-ios-arrow-back" id="players_back" ng-click="toHome()" style="margin-top: 2vh"></i>
  <h1 id = "home_title" style="font-size: 10vh; margin-top: 7vh">Settings</h1>


  <div>
    <div class="list list-inset" id = "colorOptions" style = 'height: 30vh; background-color: darkcyan; top: 5vh'>
      <div class="Row">
        <div class="Column" ng-click="toInstructions()" style=" font-family: Helvetica;
        font-style: italic; font-weight: normal; text-align: center; font-size: 5vh; white-space: nowrap;
        vertical-align: middle; border: 1vw solid white; background-color: lightgreen; color: black; font-family: LobsterRegular;">Instructions</div>
      </div>
      <div class="Row">
        <div class="Column" ng-click="toGameSettings()" style=" font-family: Helvetica;
        font-style: italic; font-weight: normal; text-align: center; font-size: 5vh; white-space: nowrap;
        vertical-align: middle; border: 1vw solid white; background-color: lightgreen; color: black; font-family: LobsterRegular;">Game Settings</div>
      </div>
      <div class="Row">
        <div class="Column" ng-click="toAboutUs()" style=" font-family: Helvetica;
        font-style: italic; font-weight: normal; text-align: center; font-size: 5vh; white-space: nowrap;
        vertical-align: middle; border: 1vw solid white; background-color: lightgreen; color: black; font-family: LobsterRegular;">About Us</div>
      </div>
    </div>
  </div>
</ion-view>
